.card {
  display: flex;
  gap: 24px;

  border: 1px solid var(--gray-light);
  border-radius: 20px;
  padding: 24px;
  width: 888px;
  height: 368px;
}

.cardPhoto {
  display: block;
  border-radius: 10px;
  width: 292px;
  height: 320px;

  object-fit: cover;
}

.cardTitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
}

.cardText {
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
}

.titlePriceWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 8px;
}

.iconHeart {
  width: 25px;
  height: 24px;
}

.cardButton {
  border: none;
  background: var(--white);
  padding: 0;
  cursor: pointer;
}

.priceFavoriteButton {
  display: flex;
  align-items: center;
  gap: 12px;
}

.cardReviewsText {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--main);
}

.location {
  display: flex;
  gap: 4px;
  align-items: center;
}

.reviewsLocationWrapper {
  display: flex;

  gap: 16px;
}

.CardDescription {
  width: 524px;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--text);

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.cardWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
